.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loading-spinner {
  position: relative;
  padding-right: 50px;
}


.loading-spinner:after {
    content: '*';
    position: absolute;
    top: 5px;
    right: 20px;
    line-height: 1;
    width: 20px;
    height: 10px;
    display: inline-block;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo,.loading-spinner:after {
    animation: App-logo-spin infinite 2s linear;
  }
}

.artwork-item {
  position: relative;
}

.close-toast {
  position: absolute;
  top: 2px;
  right: -20px;
  font-size: 10px;
  font-weight: bold;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
